<a href="https://colab.research.google.com/github/fatach/Getting-Started-with-PySpark/blob/main/Getting_Started_with_PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# install Pyspark
#!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 5.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 21.7 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=57e1b46ec2f4b4f1714446d38dd77a6ea0916bacaa01c1a10beae4e386f9b5cc
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
# Initialize spark session
from pyspark.sql import SparkSession
sc = SparkSession.builder.appName("Colab").getOrCreate()

In [ ]:
my_list = [1, 2, 3, 4, 5]
squared_my_list= list(map(lambda x:x*x ,my_list))
squared_my_list

[1, 4, 9, 16, 25]

In [ ]:
filtered_my_list= list(filter(lambda x:(x%2 !=0 ), my_list))
filtered_my_list

[1, 3, 5]

In [ ]:
# Creating RDD from Object
nb= list(range(0,100))

#load number into spark
nbRDD= spark.sparkContext.parallelize(nb)

In [ ]:
type(nbRDD)

pyspark.rdd.RDD

In [ ]:
# map transformation
nbRDD= spark.sparkContext.parallelize(my_list)
cubeRDD= nbRDD.map(lambda x:x**3)
nb_all = cubeRDD.collect()
[print (num) for num in nb_all];

1
8
27
64
125

FONCTION  **MAP**

In [ ]:
 #map applies a function to every element of an RDD and returns a new RDD
 # with the function applied to each element independently,

In [ ]:

# Create an RDD from a list
rdd = sc.sparkContext.parallelize([1, 2, 3, 4])
# Define the function to be applied to each element
def square(x):
    return x*2
# Apply the map operation
squared_rdd = rdd.map(square)
print(squared_rdd.collect())

[2, 4, 6, 8]

FONCTIOn **REDUCE**

In [ ]:
# reduce takes all elements of an RDD and applies a binary operator 
#cumulatively to them to reduce the collection to a single value.

In [ ]:
# Create an RDD from a list
li= [1, 2, 3, 6]
rdd = sc.sparkContext.parallelize(li)
# Apply the reduce operation
tt = rdd.reduce(lambda a, b: a * b)

# Print the result
print(tt)
# Output

36

Fonction **FiLTER**

In [ ]:
# The filter operation returns a new RDD that contains only 
#the elements that satisfy a certain condition.

In [ ]:
# Create an RDD from a list
rdd = sc.sparkContext.parallelize([1, -2, 3, -4])
# Define the filter function
def greater_than_two(x):
    return x > 2

# Apply the filter operation
filtered_rdd = rdd.filter(greater_than_two)

# Collect the results
print(filtered_rdd.collect())
# Output:

[3]

Fonction **GROUPBYKEY**

In [ ]:
#The groupByKey operation groups the elements of an RDD by key and 
#returns a new RDD of pairs where the first element is the key and
# the second element is an iterator over the values for that key.

In [ ]:
# Create an RDD from a list of pairs
rdd = sc.sparkContext.parallelize([(1, "a"), (2, "b"), (3, "c"), (1, "d"), (2, "e")])

# Apply the groupByKey operation
grouped_rdd = rdd.groupByKey().mapValues(list)

# Collect the results
print(grouped_rdd.collect())
# Output: [(1, ['a', 'd']), (2, ['b', 'e']), (3, ['c'])]

[(1, ['a', 'd']), (2, ['b', 'e']), (3, ['c'])]

Fonction **COUNT**

In [ ]:
# count : The count operation returns the number of elements in the RDD.

In [ ]:
# Create an RDD from a list
rdd = sc.sparkContext.parallelize([1, 2, 3, 4, 10, 8, 8])

# Apply the count operation
count = rdd.count()

# Print the result
print(count)
# Output: 4

7

Fonction **FIRST**

In [ ]:
#  first : The first operation returns the first element in the RDD.

In [ ]:
# Create an RDD from a list
rdd = sc.sparkContext.parallelize([1, 2, 3, 4])

# Apply the first operation
first = rdd.first()

# Print the result
print(first)
# Output: 1

1

FOnction COLLECT()

In [ ]:
#collect : The collect operation returns all the elements of the RDD as an array.

In [ ]:
# Create an RDD from a list
rdd = sc.sparkContext.parallelize([1,5, 75, 2, 3, 4])

# Apply the collect operation
result = rdd.collect()

# Print the result
print(result)
# Output: [1, 2, 3, 4]

[1, 5, 75, 2, 3, 4]

Fonction **CountByKey**

In [ ]:
  #countByKey : The countByKey operation returns a dictionary that contains the count of elements for each key in the RDD.

In [ ]:
# Create an RDD from a list of pairs
rdd = sc.sparkContext.parallelize([(1, "a"), (2, "b"), (3, "c"), (1, "d"), (2, "g"),(4, "o"),(5, "b"),(2, "b")])

# Apply the countByKey operation
countByKey = rdd.countByKey()

# Print the result
print(countByKey)
# Output: {1: 2, 2: 2, 3: 1}

defaultdict(<class 'int'>, {1: 2, 2: 3, 3: 1, 4: 1, 5: 1})

Fonction **Foreach**

---

*foreach* : The foreach operation applies a function to each element of the RDD.
It is typically used for actions such as printing or storing the data.

In [ ]:
# Create an RDD from a list
rdd = sc.sparkContext.parallelize([1, 2, 3, 4])

# Define the function to be applied
def print_elem(x):
    print(x)

# Apply the foreach operation
rdd.foreach(print_elem)

# Output:

"""
foreach performs an operation or an action on the elements of the RDD, the operation 
is applied to every element in the RDD, but it doesn't return a result.
It is typically used for side effects such as storing the data or printing the data.

For example, you can use foreach to insert data into a database, send data to a message queue, or write data to a file.
rdd.foreach(lambda x: insert_to_db(x))  #insert to database
rdd.foreach(lambda x: send_to_kafka(x))  #send data to kafka
rdd.foreach(lambda x: write_to_file(x)) #write data to a file

"""

Fonction **Distinct**

In [ ]:
#distinct : The distinct operation returns a new RDD that contain duplicate elements

In [ ]:
# Create an RDD from a list
rdd = sc.sparkContext.parallelize([1, 2, 3, 2, 4, 1])

# Apply the distinct operation
distinct_rdd = rdd.distinct()

# Collect the results
print(distinct_rdd.collect())
# Output: [1, 2, 3, 4]

[1, 2, 3, 4]

# **Loading data into PySpark**



---

In PySpark we deal with large-scale datasets. So it’s an important task to load data for data processing

In [ ]:
df = sc.read.csv('people.csv', header=True)

In [ ]:
df.show()

+---+---------+-----------------+------+-------------+
|_c0|person_id|             name|   sex|date of birth|
+---+---------+-----------------+------+-------------+
|  0|      100|   Penelope Lewis|female|   1990-08-31|
|  1|      101|    David Anthony|  male|   1971-10-14|
|  2|      102|        Ida Shipp|female|   1962-05-24|
|  3|      103|     Joanna Moore|female|   2017-03-10|
|  4|      104|   Lisandra Ortiz|female|   2020-08-05|
|  5|      105|    David Simmons|  male|   1999-12-30|
|  6|      106|    Edward Hudson|  male|   1983-05-09|
|  7|      107|     Albert Jones|  male|   1990-09-13|
|  8|      108| Leonard Cavender|  male|   1958-08-08|
|  9|      109|   Everett Vadala|  male|   2005-05-24|
| 10|      110| Freddie Claridge|  male|   2002-05-07|
| 11|      111|Annabelle Rosseau|female|   1989-07-13|
| 12|      112|    Eulah Emanuel|female|   1976-01-19|
| 13|      113|       Shaun Love|  male|   1970-05-26|
| 14|      114|Alejandro Brennan|  male|   1980-12-22|
| 15|      115|Robert Mcreynolds|  male|   1973-12-27|
| 16|      116|   Carla Spickard|female|   1985-06-13|
| 17|      117|Florence Eberhart|female|   2024-06-01|
| 18|      118|     Tina Gaskins|female|   1966-12-05|
| 19|      119| Florence Mulhern|female|   1959-05-31|
+---+---------+-----------------+------+-------------+
only showing top 20 rows

In [ ]:
df.count()

150752

In [ ]:
df.columns

['_c0', 'person_id', 'name', 'sex', 'date of birth']

In [ ]:
df.describe()

DataFrame[summary: string, _c0: string, person_id: string, name: string, sex: string, date of birth: string]

In [ ]:
df.show(10)

+---+---------+----------------+------+-------------+
|_c0|person_id|            name|   sex|date of birth|
+---+---------+----------------+------+-------------+
|  0|      100|  Penelope Lewis|female|   1990-08-31|
|  1|      101|   David Anthony|  male|   1971-10-14|
|  2|      102|       Ida Shipp|female|   1962-05-24|
|  3|      103|    Joanna Moore|female|   2017-03-10|
|  4|      104|  Lisandra Ortiz|female|   2020-08-05|
|  5|      105|   David Simmons|  male|   1999-12-30|
|  6|      106|   Edward Hudson|  male|   1983-05-09|
|  7|      107|    Albert Jones|  male|   1990-09-13|
|  8|      108|Leonard Cavender|  male|   1958-08-08|
|  9|      109|  Everett Vadala|  male|   2005-05-24|
+---+---------+----------------+------+-------------+
only showing top 10 rows

In [ ]:
df.select('name', 'date of birth').show(5)

+--------------+-------------+
|          name|date of birth|
+--------------+-------------+
|Penelope Lewis|   1990-08-31|
| David Anthony|   1971-10-14|
|     Ida Shipp|   1962-05-24|
|  Joanna Moore|   2017-03-10|
|Lisandra Ortiz|   2020-08-05|
+--------------+-------------+
only showing top 5 rows

In [ ]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- person_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- date of birth: string (nullable = true)

In [ ]:
df_drop_dupli= df.drop_duplicates()

In [ ]:
print('Before removing duplicates', df.count())
print('After removing duplicates',df_drop_dupli.count())

Before removing duplicates 150752
After removing duplicates 100002

In [ ]:
df= df_drop_dupli
df.count()

100002

**filter out the rows based on a condition by using filter transformation**

In [ ]:
# by gender
df_female= df.filter(df.sex == 'female')
df_male = df.filter(df.sex == 'male')

In [ ]:
df_male.show()

NameError: ignored